[submodule "vendor/epy"]
	path = vendor/epy
	url = https://github.com/gabrielelanaro/emacs-for-python.git
[submodule "vendor/haskell-mode"]
	path = vendor/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "vendor/simple-rtm"]
	path = vendor/simple-rtm
	url = https://github.com/mbunkus/simple-rtm.git
