[submodule "vendor/epy"]
	path = vendor/epy
        url = git@github.com:boothead/emacs-for-python.git
[submodule "vendor/haskell-mode"]
	path = vendor/haskell-mode
        url = git@github.com:boothead/haskell-mode.git
[submodule "vendor/simple-rtm"]
	path = vendor/simple-rtm
	url = https://github.com/mbunkus/simple-rtm.git
[submodule "vendor/org-jira"]
	path = vendor/org-jira
	url = git@github.com:solaise/org-jira.git
